# Python ka chilla with Amjad
## How to use Jupiter Note Book
### Basics of python

**01- My first program**

In [1]:
print(2+3)
print("Hello World")
print("we are learning python with amjad")

5
Hello World
we are learning python with amjad

**02 - Operators**

In [2]:
print (2+9)
print (9-4)
print (3*3)
print (8/2)
print (3**2)

print (13%2)
print (8//2)
print ((2**3)//2*3//2+9-4)

11
5
9
4.0
9
1
4
11

*PEMDAS
Parenthesis-Exponent-Multiply-Divide-Addition-Substraction
Left to right ewquence for M-D & A-S*

**03 - Strings**

In [3]:
print("Hello World")
print("we are learning python with amjad")

print ('Test for single quotes')
print (" test for double quotes")
print ('''  test for triple quotes''')

print ("What's up     ?")

Hello World
we are learning python with amjad
Test for single quotes
 test for double quotes
  test for triple quotes
What's up     ?

**04 - Comments in Python**

In [4]:
print ("How are you ?")
print ("I am well and fine.")
print (2+4)

How are you ?
I am well and fine.
6

**05 - Variables**

In [5]:
# variables : objects containing specific values

x = 9                                          # numeric or integer variable
print (x)

y = "we are learning python with amjad"        # string variable
print(y)
x= x+5
print(x)

#types/class of variables

print(type(x))
print(type(y))



fruit_baseket= "Mangoes , Oranges , Banana"
fruit_baseket
print(fruit_baseket)
print(type(fruit_baseket))

9
we are learning python with amjad
14
<class 'int'>
<class 'str'>
Mangoes , Oranges , Banana
<class 'str'>

 **Rules to assign a variables**
 
 1- The vriable should contain letters, numbers or underscores
 
 2- Do not start with numbers
 
 3- Spaces are not allowed
 
 4- Do not use keywords used in functions (break,mean,median,test etc..)
 
 5- Short and descriptive
 
 6- Case senstivity (lowercase letter,uppercase letter,,should always use lowercase letter)

**06 - Input Variables**

In [1]:
 fruit_baseket="Banana"
 print(fruit_baseket)

# input function
 fruit_baseket = input("What is your favourite fruit? ")
 print(fruit_baseket)

#input function of 2nd stage
 name = input("What is your name? ")
 Greeting="Hello!"
 print(Greeting, name)

# Another way of stage 2 input function
 name=input("What is your name? ")
 print("Hello! ",name)

# 3rd stage of input function
name=input("What is your name? ")
age=input("How old are you? ")
 greeting="Hello!"

print("Hello! " ,name, ",you are still young")

Banana
What is your favourite fruit? banana
banana
What is your name? Amjad
Hello! Amjad
What is your name? Amjad
Hello!  Amjad
What is your name? Amjad
How old are you? 12
Hello!  Amjad ,you are still young

**07 - Conditional Logic**

In [3]:
# Logical operators are "true or false" "yes or no" "0 or 1"
# equal to                      ==
# not equal to                  !=
# Less than                      <
# greater than                   >
# Less than and equal to        <=
# greater than and equal to     >=

print (4==4)
print (4!=4)
print (3<9)
print (8>4)
print (3<=7)
print (8>=2)

# Application of logical operators
hammad_age=4
age_at_school=5
print(hammad_age==age_at_school)

# input function and logical operators
age_at_school=5
hammad_age=input("How old is hammad? ")
hammad_age=int(hammad_age)
print(type(hammad_age))
print(hammad_age>=age_at_school)

True
False
True
True
True
True
False
How old is hammad? 4
<class 'int'>
False

**08 - Type conversions**

**implicit type conversion**

In [6]:
x = 10          # integer
y = 10.2        # float
z = "Hello"     # string

x = x+y
print(x, "Type of x:" ,type(x))

20.2 Type of x: <class 'float'>

**Explicit type conversion**

In [7]:

age=input("What is your age: ")
#age=int(age)
print(age,type(int(age)))

name=input("What is your name: ")
print(name,type(str(name)))

What is your age: 30
30 <class 'int'>
What is your name: Amjad
Amjad <class 'str'>

**09 - If,Else and Elif**

In [9]:
hammad_age=10
required_age_at_school=5

# question: can hammad go to school

if hammad_age==required_age_at_school:
    print("Hammad can join the school")
elif hammad_age > required_age_at_school:
    print("Hammad can join higher secondary school")
elif hammad_age<=2:
    print("Take care of hammad, he is still a baby")
else:
    print("Hammad can not go to school")

Hammad can join higher secondary school

**10 - Functions**

**defining a function**

**1-**

In [14]:
def print_codanics():
     print("I am Amjad Iqbal")
     print("I am Amjad Iqbal")
     print("I am Amjad Iqbal")

print_codanics()

I am Amjad Iqbal
I am Amjad Iqbal
I am Amjad Iqbal

**2-**

In [15]:
def print_codanics():
     text="I am Amjad Iqbal Bangash"
     print(text)
     print(text)
     print(text)

print_codanics()

I am Amjad Iqbal Bangash
I am Amjad Iqbal Bangash
I am Amjad Iqbal Bangash

**3-**

In [16]:
def print_codanics(text):
     print(text)
     print(text)
     print(text)

print_codanics("I am Amjad Iqbal Khan")

I am Amjad Iqbal Khan
I am Amjad Iqbal Khan
I am Amjad Iqbal Khan

**4- defining a function with if,elif and else statement**

In [17]:
def school_calculator(age):
     if age==5:
         print("Bushra join the school")
     elif age>5:
         print("Bushra join SSC")
     else:
         print("Bushra still a baby")

school_calculator(5)

Bushra join the school

**Define a function of future**

In [19]:
def future_age(age):
    new_age=age+20
    return new_age

future_predicted_age=future_age(20)
print(future_predicted_age)

40

**11 - Loops**

**while and for loops**

**1 - while loops**

In [35]:
x=0
while (x==4):
    print(x)
    x=x+1

**for loops**

In [32]:
 for x in range(3,8):
        print(x)

3
4
5
6
7

**Array**

In [50]:
days =("Mon", "Tue", "Wed", "Thur", "Fri", "Sat", "Sun")
    for days in d:
        print(days)

IndentationError: unexpected indent (2474498026.py, line 2)

**12 - Import libraries**

In [51]:
# if you print the value of pi

import math
print("The value of pi is ",math.pi)

import statistics
x= [12,13,88,99]
print(statistics.mean(x))

The value of pi is  3.141592653589793
53

**13 - Trouble Shootiing**

In [54]:
print(we are learning python with amjad) # Syntax error

SyntaxError: invalid syntax (1787721499.py, line 1)

In [55]:
print(29/0) #runtime error

ZeroDivisionError: division by zero

In [56]:
name = "Amjad"
print("Hello "+name)

Hello Amjad